body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: red;
}

header,
footer {
    background-color: #f8f9fa;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}
